.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 80vh;
    gap: 20px;
}

.divIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 420px) {
    .skills{
        min-height: 100vh;
    
    }
  }